{% extends "base.html" %}

{% block title %}Crear Tarea Nueva{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h2>Notas </h2>
<form action="/notas/save" method="POST">
    <fieldset>
    <fieldset>
    <legend>Datos del alumno</legend>
    <label for="nombre" >Nombre</label>
    <input type="text" name="nombre" placeholder="Nombre del Alumno" required>
    <label for="apellido" >Apellido</label>
    <input type="text" name="apellido" placeholder="Apellido del Alumno" required>
    <label for="apellido" >Nota 1</label>
    <input type="number" name="nota1" placeholder="Nota 1 Trimestre" min="1" max="10" required>
    <label for="apellido" >Nota 2</label>
    <input type="number" name="nota2" placeholder="Nota 2 Trimestre" min="1" max="10" required>
    <label for="apellido" >Nota 3</label>
    <input type="number" name="nota3" placeholder="Nota 3 Trimestre" min="1" max="10" required>
    </fieldset>
</fieldset>
<input type="button" name="Agregar" value="Agregar" onclick="addForm()">
<input type="submit" name="Enviar">
</form>
{% endblock %}